<!DOCTYPE html>
<html>

	<% results.forEach(function(r) { %>
	        <%= r.nombre %>|<%= r.apellido_paterno %>|<%= r.apellido_materno %>|<%= r.rut %>|<%= r.email %>|<%= r.nivel %>|<%= r.fecha_ingreso %>
	<% }); %>
</body>
</html>
