<!DOCTYPE html>
<html>

	<% results.forEach(function(r) { %>
	        <%= r.nombre %>|<%= r.estado %>|<%= r.modo_libre %>|<%= r.modo_sen %>|<%= r.modo_esta %>|<%= r.modo_peaton %>|<%= r.modo_limitev %>|<%= r.fecha_update %>
	<% }); %>
</body>
</html>
